body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	
	background-color: [BGCOLOR];
	background-image: url('[BGIMAGE]');
}
body, table {
	color: [TEXTCOLOR];
	font:13px verdana;
}

.danger{
	color: #FF0000 !important;
}
.selected{
	color: #FFFF00 !important;
}
.disabled{
	color: #888888 !important;
}
.notice{
	color: #FFF !important;
}
.fonts {
    font: 10px verdana;
}
.c{
	text-align: center;
}
.r{
	text-align: right;
}
.w{
	width: 100%;
}
.nobr{
	white-space: nowrap;
}
.lh{
	line-height: 100%;
}
.lh5{
	line-height: 50%;
}

.nmcol-20{color: #666666 !important;} .nmcol-21{color: #666666 !important;} .nmcol-22{color: #666666 !important;}
.nmcol-10{color: #888888 !important;} .nmcol-11{color: #888888 !important;} .nmcol-12{color: #888888 !important;}
.nmcol00{color: #97ACEF !important;} .nmcol01{color: #F185C9 !important;} .nmcol02{color: #7C60B0 !important;}
.nmcol10{color: #D8E8FE !important;} .nmcol11{color: #FFB3F3 !important;} .nmcol12{color: #EEB9BA !important;}
.nmcol20{color: #D8E8FE !important;} .nmcol21{color: #FFB3F3 !important;} .nmcol22{color: #EEB9BA !important;} 
.nmcol30{color: #AFFABE !important;} .nmcol31{color: #C762F2 !important;} .nmcol32{color: #7C60B0 !important;}
.nmcol40{color: #FFEA95 !important;} .nmcol41{color: #C53A9E !important;} .nmcol42{color: #F0C413 !important;}

a:link,a:visited,a:active,a:hover{text-decoration:none;font-weight:bold;}
a:link		{color: [A_LINK]}
a:visited	{color: [A_VISITED]}
a:active	{color: [A_ACTIVE]}
a:hover		{color: [A_HOVER]}

table.main{
	border-spacing: 0px;
	border-top:	[BORDERCOLOR] 1px solid;
	border-left: [BORDERCOLOR] 1px solid;
}

td.light,td.dim,td.head,td.dark{
	border-right:	[BORDERCOLOR] 1px solid;
	border-bottom:	[BORDERCOLOR] 1px solid;
}

.light{
	background: [TDLIGHT];
	
}
.dim{
	background: [TDDIM];
}
.head{
	background: [TDHEAD];
	color: #FFEEFF;
}
.dark{
	background: [TDDARK];
	color: #FFEEFF;
}


textarea, input, select, button {
	border: 1px solid [INPUTBORDER];
	background-color: [INPUTBGCOLOR];
	color: [INPUTCOLOR];
	font:	10pt verdana;
}
button.submit {
	border: 2px solid [SUBMITBORDER];
}
input.radio {
	border:	none;
	background: none;
	color: [RADIOCOLOR];
	font:	10pt verdana;
}