body {
	background: #999;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	color: #fff;
}
a{
	text-decoration: none;
	font-weight: bold;
}
a:visited{
	color: #40f
}
.fonts {
    font: 10px verdana;
}
.danger{
	color: #FF0000 !important;
}
.notice{
	color: #FFF !important;
}
table.main{
	border: solid 1px #000;
	border-spacing: 0px;
	color: #000;
	border-top:	#000000 1px solid;
	border-left: #000000 1px solid;
}

table.special{
	border: solid 1px #000;
	color: #000;
}



.c{
	text-align: center;
}

.w{
	width: 100%;
}
/*
table.nb{
	border-bottom: none;
}
*/
td.light,td.dim,td.head,td.dark{
	border-right:	#000000 1px solid;
	border-bottom:	#000000 1px solid;
}

td.head{
	background: #BBB;
}
td.dim{
	/*background: #EEE;*/
	background: #FFF;
}
td.light{
	/*background: #FFF;*/
	background: #EEE;
}
td.dark{
	background: #DDD;
}
/*
td.br{
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;		
}
td.b{
	border-bottom: 1px solid #000;
}
td.r{
	border-right: solid 1px #000;
}
td.t{
	border-top: solid 1px #000;
}
*/