body {
	background: #999;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	color: #fff;
	
	background-color: #000F1F;
	background-image: url('images/themes/night/starsbg.png');
}
body, table {
	color: #DDDDDD;
	font:13px verdana;
}

.danger{
	color: #FF0000 !important;
}
.selected{
	color: #FFFF00 !important;
}
.disabled{
	color: #888888 !important;
}
.notice{
	color: #FFF !important;
}
.fonts {
    font: 10px verdana;
}
.c{
	text-align: center;
}
.r{
	text-align: right;
}
.w{
	width: 100%;
}
.nobr{
	white-space: nowrap;
}
.lh{
	line-height: 100%;
}
.lh5{
	line-height: 50%;
}

.nmcol-20{color: #666666 !important;} .nmcol-21{color: #666666 !important;} .nmcol-22{color: #666666 !important;}
.nmcol-10{color: #888888 !important;} .nmcol-11{color: #888888 !important;} .nmcol-12{color: #888888 !important;}
.nmcol00{color: #97ACEF !important;} .nmcol01{color: #F185C9 !important;} .nmcol02{color: #7C60B0 !important;}
.nmcol10{color: #D8E8FE !important;} .nmcol11{color: #FFB3F3 !important;} .nmcol12{color: #EEB9BA !important;}
.nmcol20{color: #D8E8FE !important;} .nmcol21{color: #FFB3F3 !important;} .nmcol22{color: #EEB9BA !important;} 
.nmcol30{color: #AFFABE !important;} .nmcol31{color: #C762F2 !important;} .nmcol32{color: #7C60B0 !important;}
.nmcol40{color: #FFEA95 !important;} .nmcol41{color: #C53A9E !important;} .nmcol42{color: #F0C413 !important;}

a:link,a:visited,a:active,a:hover{text-decoration:none;font-weight:bold;}
a:link		{color: #BEBAFE}
a:visited	{color: #9990C0}
a:active	{color: #CFBEFF}
a:hover		{color: #CECAFE}

table.main{
	border-spacing: 0px;
	color: #fff;
	border-top:	#000000 1px solid;
	border-left: #000000 1px solid;
}

table.special{
/*	border: 1px solid #000000; */
	color: #fff;
	background: #f00;
}

td.light,td.dim,td.head,td.dark{
	border-right:	#000000 1px solid;
	border-bottom:	#000000 1px solid;
}

.light{
	background: #111133;
	
}
.dim{
	background: #11112B;
}
.head{
	background: #302048;
	color: #FFEEFF;
}
.dark{
	background: #2F2F5F;
	color: #FFEEFF;
}


textarea, input, select, button {
	border: 1px solid #663399;
	background-color: #000000;
	color: #DDDDDD;
  font:	10pt verdana;
}
.submit {
	border: 2px solid #663399;
}
input.radio {
	border:	none;
	background: none;
	color: #DDDDDD;
	font:	10pt verdana;
}