.git/

# not necessary
sample.sql
structure.txt
versions.txt

# user avatar folder
userpic/*

# trade secrets
lib/firewall.php
images/secret/*
lib/*.dat
lib/*.csv
lib/*.txt

# files pending a rewrite
tortesthing.php
library2.php
cookieban.php