# user avatar folder
userpic/*

# trade secrets
ext/downloader.php
lib/firewall.php
cookieban.php
library2.php
fw.sql
images/secret/*
lib/*.dat
lib/*.csv
lib/*.txt

# not needed anymore as install.php should generate it
lib/config.php

# these files wouldn't work due to missing features
admin-pendingusers.php
